.direction-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 12.5%;
  right: 10%;
  width: 10vw;
  height: 15vw;
  /* border: 1px solid black; */
  /* border-radius: 0.05em; */
  border: solid black 0.05em;
  border-radius: 0.1em;
  font-size: 5em;
  background-color: #76ebff;
}

.currentDirection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
