.square {
  /* width: 8vw; */
  /* height: 8vw; */
  border: 1px solid black;
}

.clicked {
  border: 5px solid green;
}

.path {
  background-color: #eaeaea;
}

.block {
  background-color: #000000;
}

.exitPoint {
  background-color: blue;
}

.win {
  background-color: yellow;
  border: 1px solid black;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
