.square {
  /* width: 8vw; */
  /* height: 8vw; */
  /* border: 0.02px solid black; */
  /* border-radius: 1.1em; */
}

.clicked {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: inset #eaeaea 0px 0px 0px, inset #eaeaea -0px -0px 0px;
  }
  50% {
    box-shadow: inset green 2px 2px 8px, inset green -2px -2px 8px;
    /* box-shadow: [direction (inset)] [color] [Horizontal Distance] [Vertical Distance] [size];  */
  }
  100% {
    box-shadow: inset #eaeaea 0px 0px 0px, inset #eaeaea -0px -0px 0px;
  }
}

.path {
  background-color: #eaeaea;
}

.block {
  background-color: #000000;
}

.exitPoint {
  background-color: #a5532a;
}

.win {
  background-color: yellow;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pink {
  background-color: pink;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}
